:root{
    --body-bg:#123;
    --nav-bg:rgb(69,92,115);
}
*{
    box-sizing: border-box;
    font-family: system-ui;
    margin: 0;
    padding: 0;
}
body{
    font-size: 1.25rem;
    background-color: var(--body-bg);
    color: white;
}
.btn-create{
    text-decoration: none;
    background-color: antiquewhite;
    color: var(--body-bg);
    padding: 9px;
    border-radius: 4px;
    font-weight: 700;
}
.btn-create:hover{
    background-color: var(--body-bg);
    border: 1px antiquewhite solid;
    color: antiquewhite ;
}
.table-container{
    border-radius: 10px;
  overflow: hidden;
}
td,th{ vertical-align: middle;}
.square-color{
   width: 20px;
   height: 20px;
   border-radius: 3px;
   border: 1px solid black;
   
}
td{
    font-weight: 600;
}
th{
    font-weight: 800;
}
div.create-window{
    width: 400px;
    height: 300px;
}
